In [1]:
# импорт необходимых элементов
import statistics
from scipy.stats import iqr
import json
from datetime import datetime

from save_file_param import open_json
param_json = open_json()

import pandas as pd
import numpy as np
import dask.dataframe as dd
from sklearn.metrics import f1_score

In [2]:
# импорт модели

import dill
import warnings
warnings.filterwarnings('ignore')
with open('models/model_pca_dill.pkl', 'rb') as f:
    pipeline = dill.load(f)
pipeline.steps

[('ful', Preprocess_ful()),
 ('transform',
  FeatureUnion(transformer_list=[('dummy_15',
                                  Pipeline(steps=[('column_dummy',
                                                   Preprocessing(aggfunc='median',
                                                                 column='15',
                                                                 norm='norm')),
                                                  ('one_hot',
                                                   OneHotEncoder(handle_unknown='ignore',
                                                                 sparse=False))])),
                                 ('dummy_16',
                                  Pipeline(steps=[('column_dummy',
                                                   Preprocessing(aggfunc='median',
                                                                 column='16',
                                                                 norm='norm')),
                                                  ('one_hot',
                                                   OneHotEncoder(handle_unknown='ignore',
                                                                 s...
                                                                 norm='norm')),
                                                  ('one_hot',
                                                   OneHotEncoder(handle_unknown='ignore',
                                                                 sparse=False))])),
                                 ('5',
                                  Pipeline(steps=[('column_5',
                                                   Preprocessing(aggfunc='median',
                                                                 column='5',
                                                                 norm='transform')),
                                                  ('standardscale',
                                                   StandardScaler())])),
                                 ('7',
                                  Pipeline(steps=[('column_7',
                                                   Preprocessing(aggfunc='median',
                                                                 column='7',
                                                                 norm='transform')),
                                                  ('standardscale',
                                                   StandardScaler())])), ...])),
 ('drop_column', Drop_column_lasso()),
 ('pca', PCA(n_components=81)),
 ('LR',
  XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
                colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
                early_stopping_rounds=None, enable_categorical=False, eta=0.01,
                eval_metric='auc', gamma=0, gpu_id=0, grow_policy='depthwise',
                importance_type=None, interaction_constraints='',
                learning_rate=0.00999999978, max_bin=256, max_cat_to_onehot=4,
                max_delta_step=0, max_depth=11, max_leaves=0, min_child_weight=1,
                missing=nan, monotone_constraints='()', n_estimators=50,
                n_jobs=-1, num_parallel_tree=1, predictor='auto', random_state=13,
                reg_alpha=0.05, ...))]

In [3]:
# загрузка датасетов(features.csv и data_test.csv)

data = dd.read_csv('git_ignore_files/features.csv', sep='\t', blocksize=15e6)
data_test = pd.read_csv('git_ignore_files/data_test.csv')

In [4]:
# выбор данных из features.csv только id-шников из data_test.csv

list_id_test = list(data_test['id'].unique())
data = data[data['id'].isin(list_id_test)].compute()

In [5]:
# объединение датасетов

data = pd.merge_asof(data_test.sort_values('buy_time'), 
                     data.sort_values('buy_time'), on='buy_time', by='id', direction='nearest')

In [6]:
# вероятности подключения услуг абонентом

df = pd.DataFrame()
for i in param_json['uslugi']:
    data['vas_id'] = i
    df[i] = pipeline.predict_proba(data)[:, 1]
df.head(10)

,2.0,1.0,4.0,9.0,6.0,5.0,8.0,7.0
0,0.338124,0.330407,0.611233,0.331090,0.652166,0.331090,0.331090,0.331090
1,0.344594,0.335061,0.643789,0.341619,0.543140,0.341619,0.341619,0.341619
2,0.348069,0.341293,0.616278,0.348069,0.638508,0.348069,0.348069,0.348069
3,0.598761,0.530108,0.646721,0.357062,0.666552,0.357062,0.357062,0.357062
4,0.346024,0.332253,0.617028,0.348456,0.631892,0.341992,0.341992,0.341992
5,0.349062,0.637049,0.623433,0.349062,0.643187,0.349062,0.349062,0.349062
6,0.338314,0.592380,0.631171,0.337454,0.629585,0.331090,0.331090,0.331090
7,0.346069,0.616288,0.531601,0.339047,0.637678,0.339234,0.339047,0.339234
8,0.374979,0.338460,0.599286,0.357393,0.629585,0.349981,0.349981,0.349981
9,0.343510,0.332569,0.617028,0.348456,0.644099,0.348456,0.348456,0.348456

In [7]:
# рекомендуемая услуга

recomendate = pd.DataFrame()
recomendate['id'] = data['id']
recomendate['рекомендуемая услуга'] = df.idxmax(axis=1)
recomendate

            id  рекомендуемая услуга
0      2905850                   6.0
1        31619                   4.0
2      1427271                   6.0
3      2162521                   6.0
4      1529304                   6.0
...        ...                   ...
71226  3145392                   6.0
71227  2452188                   6.0
71228  3145390                   6.0
71229  1447357                   6.0
71230   988236                   6.0

[71231 rows x 2 columns]

In [8]:
# рекомендация услуг в порядке убывания 
#(колонка 1 - наиболее рекомендуемая, колонка 8 - наименее)

from tqdm import tqdm
recomendate_sorted = pd.DataFrame(columns=[1,2,3,4,5,6,7,8])
for i in tqdm(df.index):
    a = pd.DataFrame()
    a['0'] = df.loc[i]
    recomendate_sorted.loc[recomendate_sorted.shape[0]] = a.sort_values('0', ascending=False).index
for i in recomendate_sorted.columns:
    recomendate[i] = recomendate_sorted[i]
recomendate

100%|██████████| 71231/71231 [02:14<00:00, 530.23it/s]

            id  рекомендуемая услуга    1    2    3    4    5    6    7    8
0      2905850                   6.0  6.0  4.0  2.0  9.0  5.0  8.0  7.0  1.0
1        31619                   4.0  4.0  6.0  2.0  9.0  5.0  8.0  7.0  1.0
2      1427271                   6.0  6.0  4.0  2.0  9.0  5.0  8.0  7.0  1.0
3      2162521                   6.0  6.0  4.0  2.0  1.0  9.0  5.0  8.0  7.0
4      1529304                   6.0  6.0  4.0  9.0  2.0  5.0  8.0  7.0  1.0
...        ...                   ...  ...  ...  ...  ...  ...  ...  ...  ...
71226  3145392                   6.0  6.0  4.0  2.0  9.0  5.0  8.0  7.0  1.0
71227  2452188                   6.0  6.0  4.0  9.0  5.0  8.0  7.0  2.0  1.0
71228  3145390                   6.0  6.0  4.0  1.0  9.0  5.0  8.0  7.0  2.0
71229  1447357                   6.0  6.0  4.0  2.0  1.0  9.0  5.0  8.0  7.0
71230   988236                   6.0  6.0  4.0  1.0  9.0  8.0  2.0  5.0  7.0

[71231 rows x 10 columns]