In [1]:
# импорт необходимых элементов
import statistics
from scipy.stats import iqr
import json
from datetime import datetime
with open('to_model/parametres.json', 'r') as f:
    param_json = json.load(f)

In [2]:
import dill
with open('models/model_pca_dill.pkl', 'rb') as f:
    pipeline = dill.load(f)
pipeline.steps

/home/pavel/anaconda3/envs/venv_megafon/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

[('ful', Preprocess_ful()),
 ('transform',
  FeatureUnion(transformer_list=[('dummy_15',
                                  Pipeline(steps=[('column_dummy',
                                                   Preprocessing(aggfunc='median',
                                                                 column='15',
                                                                 norm='norm')),
                                                  ('one_hot',
                                                   OneHotEncoder(handle_unknown='ignore',
                                                                 sparse=False))])),
                                 ('dummy_24',
                                  Pipeline(steps=[('column_dummy',
                                                   Preprocessing(aggfunc='median',
                                                                 column='24',
                                                                 norm='norm')),
                                                  ('one_hot',
                                                   OneHotEncoder(handle_unknown='ignore',
                                                                 s...
                                                   Preprocessing(aggfunc='median',
                                                                 column='3',
                                                                 norm='transform')),
                                                  ('standardscale',
                                                   StandardScaler())])),
                                 ('4',
                                  Pipeline(steps=[('column_4',
                                                   Preprocessing(aggfunc='median',
                                                                 column='4',
                                                                 norm='transform')),
                                                  ('standardscale',
                                                   StandardScaler())])),
                                 ('5',
                                  Pipeline(steps=[('column_5',
                                                   Preprocessing(aggfunc='median',
                                                                 column='5',
                                                                 norm='transform')),
                                                  ('standardscale',
                                                   StandardScaler())])), ...])),
 ('drop_column', Drop_column_lasso()),
 ('pca', PCA(n_components=81)),
 ('LR',
  XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
                colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
                eta=0.01, eval_metric='auc', gamma=0, gpu_id=-1,
                importance_type=None, interaction_constraints='',
                learning_rate=0.00999999978, max_delta_step=0, max_depth=11,
                min_child_weight=1, missing=nan, monotone_constraints='()',
                n_estimators=50, n_jobs=-1, num_parallel_tree=1, predictor='auto',
                random_state=13, reg_alpha=0.05, reg_lambda=1, scale_pos_weight=1,
                subsample=1, tree_method='exact', validate_parameters=1,
                verbosity=None))]

In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score

In [4]:
data = pd.read_csv('git_ignore_files/data_merge_asof.csv')
data

,Unnamed: 0_x,id,vas_id,buy_time,target,Unnamed: 0_y,0,1,2,3,...,243,244,245,246,247,248,249,250,251,252
0,578818,2582523,2.0,1531083600,0.0,3360134,314.560029,9.290888,342.989214,7.523202,...,6488.626154,-574.770792,-24.996269,121.369552,142.252276,-16.832889,-0.694428,-11.175933,-0.45614,0.0
1,603994,1292549,2.0,1531083600,0.0,2915346,93.880029,-217.499112,79.939214,-270.106798,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
2,293389,4053116,1.0,1531083600,0.0,1569112,125.110029,152.190888,111.169214,107.213202,...,-956.373846,-613.770792,-18.996269,761.369552,-213.747724,26.167111,-0.694428,39.824067,-0.45614,1.0
3,293387,4158361,2.0,1531083600,0.0,597622,-7.829971,-266.839112,-20.500786,-304.196798,...,1257.626154,495.229208,-19.996269,-37.630448,-108.747724,-25.832889,-0.694428,-12.175933,-0.45614,1.0
4,254350,3754468,4.0,1531083600,0.0,2376979,83.620029,535.610888,72.219214,503.343202,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831648,535199,555080,5.0,1546203600,0.0,2043207,-96.799971,-408.179112,-110.740786,-460.786798,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
831649,535198,1729471,5.0,1546203600,0.0,286598,-86.209971,-397.589112,-100.150786,-450.196798,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
831650,535136,3676177,2.0,1546203600,0.0,2151141,-96.799971,-408.179112,-110.740786,-460.786798,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
831651,535090,2255038,2.0,1546203600,0.0,311341,-96.799971,49.450888,-104.390786,219.293202,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
831652,831652,3022610,2.0,1546203600,0.0,2556316,-49.339971,-218.339112,73.139214,145.093202,...,-977.373846,-613.770792,-25.996269,-37.630448,-303.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0

In [5]:
from save_file_param import save_json

In [6]:
# сохраняем номера услуг для абонента

uslugi = data['vas_id'].unique()
uslugi
save_json('uslugi', [i for i in uslugi])

'Записано'

In [7]:
# вероятность подключения той или иной услуги для каждого абонента

df = pd.DataFrame()
for i in uslugi:
    data['vas_id'] = i
    df[i] = pipeline.predict_proba(data)[:, 1]
df.head(10)

,2.0,1.0,4.0,9.0,6.0,5.0,8.0,7.0
0,0.359319,0.359319,0.598239,0.358654,0.576751,0.332467,0.358654,0.358654
1,0.360103,0.360103,0.597233,0.359437,0.658681,0.332467,0.359437,0.359437
2,0.360103,0.360103,0.597998,0.359437,0.577832,0.351358,0.359437,0.359437
3,0.359319,0.359319,0.600646,0.358654,0.557040,0.341064,0.358654,0.358654
4,0.359319,0.359319,0.617816,0.358654,0.593632,0.332467,0.358654,0.358654
5,0.359319,0.359319,0.600320,0.358654,0.659321,0.332467,0.358654,0.358654
6,0.359319,0.359319,0.597112,0.358654,0.649064,0.345372,0.358654,0.358654
7,0.359319,0.359319,0.594602,0.358654,0.654600,0.358654,0.358654,0.358654
8,0.360103,0.360103,0.624117,0.359437,0.650480,0.341829,0.359437,0.359437
9,0.367033,0.367033,0.600650,0.366362,0.581365,0.342082,0.366362,0.366362

In [8]:
# вывод в датафрайме наиболее рекомендуемую услугу для предложения

recomendate = pd.DataFrame()
recomendate['id'] = data['id']
recomendate['рекомендуемая услуга'] = df.idxmax(axis=1)
recomendate

             id  рекомендуемая услуга
0       2582523                   4.0
1       1292549                   6.0
2       4053116                   4.0
3       4158361                   4.0
4       3754468                   4.0
...         ...                   ...
831648   555080                   6.0
831649  1729471                   6.0
831650  3676177                   6.0
831651  2255038                   6.0
831652  3022610                   6.0

[831653 rows x 2 columns]

In [9]:
# посчитаем сколько рекомендаций по классам 

for i in recomendate['рекомендуемая услуга'].unique():
    x = recomendate[recomendate['рекомендуемая услуга'] == i].shape[0]
    print(f'Рекомендуется услуга {i} для {x} абонентов')

Рекомендуется услуга 4.0 для 136497 абонентов
Рекомендуется услуга 6.0 для 693342 абонентов
Рекомендуется услуга 9.0 для 1037 абонентов
Рекомендуется услуга 1.0 для 125 абонентов
Рекомендуется услуга 7.0 для 153 абонентов
Рекомендуется услуга 2.0 для 212 абонентов
Рекомендуется услуга 8.0 для 81 абонентов
Рекомендуется услуга 5.0 для 206 абонентов

# рекомендации услуг где 1 наиболее рекомендуемая,чем выше цифра колонки-тем менее рекомендуемая

In [10]:
# датафрам с рекомендациями услуг по приоритету

from tqdm import tqdm
recomendate_sorted = pd.DataFrame(columns=[1,2,3,4,5,6,7,8])
for i in tqdm(df.index):
    a = pd.DataFrame()
    a['0'] = df.loc[i]
    recomendate_sorted.loc[recomendate_sorted.shape[0]] = a.sort_values('0', ascending=False).index
    
recomendate_sorted

100%|████████████████████████████████| 831653/831653 [2:13:26<00:00, 103.87it/s]

          1    2    3    4    5    6    7    8
0       4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
1       6.0  4.0  2.0  1.0  9.0  8.0  7.0  5.0
2       4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
3       4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
4       4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
...     ...  ...  ...  ...  ...  ...  ...  ...
831648  6.0  4.0  2.0  9.0  8.0  7.0  1.0  5.0
831649  6.0  4.0  2.0  9.0  8.0  7.0  1.0  5.0
831650  6.0  4.0  2.0  9.0  8.0  7.0  1.0  5.0
831651  6.0  4.0  2.0  9.0  5.0  7.0  8.0  1.0
831652  6.0  4.0  2.0  9.0  5.0  8.0  7.0  1.0

[831653 rows x 8 columns]

In [11]:
# объединение с ID абонентов

for i in recomendate_sorted.columns:
    recomendate[i] = recomendate_sorted[i]
recomendate.drop('рекомендуемая услуга', axis=1, inplace=True)
recomendate

             id    1    2    3    4    5    6    7    8
0       2582523  4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
1       1292549  6.0  4.0  2.0  1.0  9.0  8.0  7.0  5.0
2       4053116  4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
3       4158361  4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
4       3754468  4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
...         ...  ...  ...  ...  ...  ...  ...  ...  ...
831648   555080  6.0  4.0  2.0  9.0  8.0  7.0  1.0  5.0
831649  1729471  6.0  4.0  2.0  9.0  8.0  7.0  1.0  5.0
831650  3676177  6.0  4.0  2.0  9.0  8.0  7.0  1.0  5.0
831651  2255038  6.0  4.0  2.0  9.0  5.0  7.0  8.0  1.0
831652  3022610  6.0  4.0  2.0  9.0  5.0  8.0  7.0  1.0

[831653 rows x 9 columns]

In [12]:
# что бы не прописывать постоянно - напишем функцию в отдельном файле

from predict_megafon import predict_megafon

out = predict_megafon(data)
out

модель загружена

             id    1    2    3    4    5    6    7    8
0       2582523  4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
1       1292549  6.0  4.0  2.0  1.0  9.0  8.0  7.0  5.0
2       4053116  4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
3       4158361  4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
4       3754468  4.0  6.0  2.0  1.0  9.0  8.0  7.0  5.0
...         ...  ...  ...  ...  ...  ...  ...  ...  ...
831648   555080  6.0  4.0  2.0  9.0  8.0  7.0  1.0  5.0
831649  1729471  6.0  4.0  2.0  9.0  8.0  7.0  1.0  5.0
831650  3676177  6.0  4.0  2.0  9.0  8.0  7.0  1.0  5.0
831651  2255038  6.0  4.0  2.0  9.0  5.0  7.0  8.0  1.0
831652  3022610  6.0  4.0  2.0  9.0  5.0  8.0  7.0  1.0

[831653 rows x 9 columns]