In [2]:
# импорт необходимых элементов
import statistics
from scipy.stats import iqr
import json
from datetime import datetime
with open('to_model/parametres.json', 'r') as f:
    param_json = json.load(f)

In [3]:
import dill
with open('models/model_dill.pkl', 'rb') as f:
    pipeline = dill.load(f)
pipeline.steps

/home/pavel/anaconda3/envs/venv_megafon/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

[('ful', Preprocess_ful()),
 ('transform',
  FeatureUnion(transformer_list=[('dummy_15',
                                  Pipeline(steps=[('column_dummy',
                                                   Preprocessing(aggfunc='median',
                                                                 column='15',
                                                                 norm='norm')),
                                                  ('one_hot',
                                                   OneHotEncoder(handle_unknown='ignore',
                                                                 sparse=False))])),
                                 ('dummy_24',
                                  Pipeline(steps=[('column_dummy',
                                                   Preprocessing(aggfunc='median',
                                                                 column='24',
                                                                 norm='norm')),
                                                  ('one_hot',
                                                   OneHotEncoder(handle_unknown='ignore',
                                                                 s...
                                                   Preprocessing(aggfunc='median',
                                                                 column='3',
                                                                 norm='norm')),
                                                  ('standardscale',
                                                   StandardScaler())])),
                                 ('4',
                                  Pipeline(steps=[('column_4',
                                                   Preprocessing(aggfunc='median',
                                                                 column='4',
                                                                 norm='norm')),
                                                  ('standardscale',
                                                   StandardScaler())])),
                                 ('5',
                                  Pipeline(steps=[('column_5',
                                                   Preprocessing(aggfunc='median',
                                                                 column='5',
                                                                 norm='norm')),
                                                  ('standardscale',
                                                   StandardScaler())])), ...])),
 ('drop_column', Drop_column_lasso()),
 ('LR',
  XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
                colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
                eta=0.01, eval_metric='auc', gamma=0, gpu_id=-1,
                importance_type=None, interaction_constraints='',
                learning_rate=0.00999999978, max_delta_step=0, max_depth=5,
                min_child_weight=1, missing=nan, monotone_constraints='()',
                n_estimators=500, n_jobs=-1, num_parallel_tree=1,
                predictor='auto', random_state=13, reg_alpha=0.0001, reg_lambda=1,
                scale_pos_weight=1, subsample=1, tree_method='exact',
                validate_parameters=1, verbosity=None))]

In [4]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score

In [5]:
data = pd.read_csv('git_ignore_files/data_merge_asof.csv')[:10000]
data

,Unnamed: 0_x,id,vas_id,buy_time,target,Unnamed: 0_y,0,1,2,3,...,243,244,245,246,247,248,249,250,251,252
0,578818,2582523,2.0,1531083600,0.0,3360134,314.560029,9.290888,342.989214,7.523202,...,6488.626154,-574.770792,-24.996269,121.369552,142.252276,-16.832889,-0.694428,-11.175933,-0.45614,0.0
1,603994,1292549,2.0,1531083600,0.0,2915346,93.880029,-217.499112,79.939214,-270.106798,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
2,293389,4053116,1.0,1531083600,0.0,1569112,125.110029,152.190888,111.169214,107.213202,...,-956.373846,-613.770792,-18.996269,761.369552,-213.747724,26.167111,-0.694428,39.824067,-0.45614,1.0
3,293387,4158361,2.0,1531083600,0.0,597622,-7.829971,-266.839112,-20.500786,-304.196798,...,1257.626154,495.229208,-19.996269,-37.630448,-108.747724,-25.832889,-0.694428,-12.175933,-0.45614,1.0
4,254350,3754468,4.0,1531083600,0.0,2376979,83.620029,535.610888,72.219214,503.343202,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,533730,3761476,2.0,1531083600,0.0,1357268,-72.239971,-353.939112,-85.330786,-405.696798,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,1.0
9996,377819,32525,1.0,1531083600,0.0,4229282,-96.799971,-70.039112,-110.740786,-122.646798,...,-254.373846,-207.770792,-25.996269,-37.630448,-149.747724,1.167111,-0.694428,-12.175933,0.54386,0.0
9997,30546,68576,1.0,1531083600,0.0,2899394,-27.309971,279.510888,-23.470786,297.173202,...,-977.373846,-613.770792,-25.996269,-37.630448,-291.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
9998,244981,2029031,2.0,1531083600,0.0,1023193,-94.679971,-24.699112,-99.730786,-41.746798,...,-977.373846,-613.770792,-24.996269,38.369552,-269.747724,-25.832889,-0.694428,-12.175933,-0.45614,1.0
9999,715692,4274668,1.0,1531083600,0.0,1434112,-96.799971,1390.680888,2.389214,1786.793202,...,-977.373846,-613.770792,-25.996269,-37.630448,-280.747724,-23.832889,-0.694428,-10.175933,-0.45614,0.0

In [6]:
from save_file_param import save_json, open_json
uslugi = open_json()['uslugi']

In [7]:
# сохраняем номера услуг для абонента

# uslugi = data['vas_id'].unique()
# uslugi
# save_json('uslugi', [i for i in uslugi])

In [8]:
# вероятность подключения той или иной услуги для каждого абонента

df = pd.DataFrame()
for i in uslugi:
    data['vas_id'] = i
    df[i] = pipeline.predict_proba(data)[:, 1]
df.head(10)

,2.0,1.0,4.0,9.0,6.0,5.0,8.0,7.0
0,0.149119,0.149119,0.731250,0.279224,0.876298,0.139728,0.094127,0.109162
1,0.145028,0.145028,0.727621,0.214664,0.848154,0.135853,0.091382,0.114873
2,0.147840,0.147840,0.698500,0.238841,0.885611,0.137960,0.095211,0.112883
3,0.145480,0.145480,0.734882,0.252158,0.842117,0.136282,0.091685,0.115244
4,0.146599,0.146599,0.744586,0.246945,0.856477,0.136222,0.092435,0.111710
5,0.148502,0.148502,0.742573,0.265364,0.860677,0.139144,0.095248,0.115406
6,0.142342,0.142342,0.732786,0.239166,0.860854,0.133311,0.089586,0.108487
7,0.146120,0.146120,0.746860,0.254291,0.858371,0.136887,0.093626,0.130037
8,0.147892,0.147892,0.748559,0.298937,0.854951,0.137438,0.093302,0.113617
9,0.147232,0.147232,0.742344,0.252558,0.865036,0.137940,0.094383,0.111765

In [9]:
# вывод в датафрайме наиболее рекомендуемую услугу для предложения

recomendate = pd.DataFrame()
recomendate['id'] = data['id']
recomendate['рекомендуемая услуга'] = df.idxmax(axis=1)
recomendate

           id  рекомендуемая услуга
0     2582523                   6.0
1     1292549                   6.0
2     4053116                   6.0
3     4158361                   6.0
4     3754468                   6.0
...       ...                   ...
9995  3761476                   6.0
9996    32525                   6.0
9997    68576                   6.0
9998  2029031                   6.0
9999  4274668                   6.0

[10000 rows x 2 columns]

In [10]:
# посчитаем сколько рекомендаций по классам 

for i in recomendate['рекомендуемая услуга'].unique():
    x = recomendate[recomendate['рекомендуемая услуга'] == i].shape[0]
    print(f'Рекомендуется услуга {i} для {x} абонентов')

Рекомендуется услуга 6.0 для 9955 абонентов
Рекомендуется услуга 4.0 для 45 абонентов

# рекомендации услуг где 1 наиболее рекомендуемая,чем выше цифра колонки-тем менее рекомендуемая

In [11]:
# датафрам с рекомендациями услуг по приоритету

from tqdm import tqdm
recomendate_sorted = pd.DataFrame(columns=[1,2,3,4,5,6,7,8])
for i in tqdm(df.index):
    a = pd.DataFrame()
    a['0'] = df.loc[i]
    recomendate_sorted.loc[recomendate_sorted.shape[0]] = a.sort_values('0', ascending=False).index
    
recomendate_sorted

100%|██████████| 10000/10000 [00:12<00:00, 778.84it/s]

        1    2    3    4    5    6    7    8
0     6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
1     6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
2     6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
3     6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
4     6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
...   ...  ...  ...  ...  ...  ...  ...  ...
9995  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
9996  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
9997  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
9998  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
9999  6.0  4.0  9.0  5.0  2.0  1.0  7.0  8.0

[10000 rows x 8 columns]

In [12]:
# объединение с ID абонентов

for i in recomendate_sorted.columns:
    recomendate[i] = recomendate_sorted[i]
recomendate.drop('рекомендуемая услуга', axis=1, inplace=True)
recomendate

           id    1    2    3    4    5    6    7    8
0     2582523  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
1     1292549  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
2     4053116  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
3     4158361  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
4     3754468  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
...       ...  ...  ...  ...  ...  ...  ...  ...  ...
9995  3761476  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
9996    32525  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
9997    68576  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
9998  2029031  6.0  4.0  9.0  2.0  1.0  5.0  7.0  8.0
9999  4274668  6.0  4.0  9.0  5.0  2.0  1.0  7.0  8.0

[10000 rows x 9 columns]

In [13]:
# что бы не прописывать постоянно - напишем функцию в отдельном файле

from predict_megafon import predict_megafon

out = predict_megafon(data)
out

модель загружена

           id    1    2    3    4    5    6    7    8
0     2582523  4.0  6.0  2.0  1.0  9.0  5.0  8.0  7.0
1     1292549  6.0  4.0  2.0  1.0  9.0  5.0  8.0  7.0
2     4053116  6.0  4.0  2.0  1.0  9.0  5.0  8.0  7.0
3     4158361  4.0  6.0  2.0  1.0  9.0  5.0  8.0  7.0
4     3754468  6.0  4.0  2.0  1.0  9.0  5.0  8.0  7.0
...       ...  ...  ...  ...  ...  ...  ...  ...  ...
9995  3761476  6.0  4.0  2.0  1.0  9.0  5.0  8.0  7.0
9996    32525  6.0  4.0  2.0  1.0  9.0  5.0  8.0  7.0
9997    68576  6.0  4.0  1.0  9.0  5.0  8.0  7.0  2.0
9998  2029031  6.0  4.0  2.0  1.0  9.0  5.0  8.0  7.0
9999  4274668  6.0  2.0  4.0  1.0  9.0  5.0  8.0  7.0

[10000 rows x 9 columns]