In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data_load = pd.read_csv('~/megafon_end/git_ignore_files/data_merge_asof.csv')[:10000]
data_load.head()

,Unnamed: 0_x,id,vas_id,buy_time,target,Unnamed: 0_y,0,1,2,3,...,243,244,245,246,247,248,249,250,251,252
0,578818,2582523,2.0,1531083600,0.0,3360134,314.560029,9.290888,342.989214,7.523202,...,6488.626154,-574.770792,-24.996269,121.369552,142.252276,-16.832889,-0.694428,-11.175933,-0.45614,0.0
1,603994,1292549,2.0,1531083600,0.0,2915346,93.880029,-217.499112,79.939214,-270.106798,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
2,293389,4053116,1.0,1531083600,0.0,1569112,125.110029,152.190888,111.169214,107.213202,...,-956.373846,-613.770792,-18.996269,761.369552,-213.747724,26.167111,-0.694428,39.824067,-0.45614,1.0
3,293387,4158361,2.0,1531083600,0.0,597622,-7.829971,-266.839112,-20.500786,-304.196798,...,1257.626154,495.229208,-19.996269,-37.630448,-108.747724,-25.832889,-0.694428,-12.175933,-0.45614,1.0
4,254350,3754468,4.0,1531083600,0.0,2376979,83.620029,535.610888,72.219214,503.343202,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0

In [4]:
target = data_load['target']
data = data_load.iloc[:, 7:]
data.head(3)

,1,2,3,4,5,6,7,8,9,10,...,243,244,245,246,247,248,249,250,251,252
0,9.290888,342.989214,7.523202,337.571754,-13.58179,-16.08618,-65.076097,-6.78366,-30.006538,-2.736081,...,6488.626154,-574.770792,-24.996269,121.369552,142.252276,-16.832889,-0.694428,-11.175933,-0.45614,0.0
1,-217.499112,79.939214,-270.106798,74.521754,-291.21179,-16.08618,-65.076097,-6.78366,-30.006538,-2.736081,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
2,152.190888,111.169214,107.213202,105.751754,86.10821,-16.08618,-56.686097,-6.78366,-30.006538,-2.736081,...,-956.373846,-613.770792,-18.996269,761.369552,-213.747724,26.167111,-0.694428,39.824067,-0.45614,1.0

In [5]:
from sklearn.cluster import SpectralClustering, KMeans
from sklearn.decomposition import PCA
data_pca = PCA(0.999).fit_transform(data)
clustering = KMeans(n_clusters=4, random_state=13 ).fit(data)
print(clustering)

KMeans(n_clusters=4, random_state=13)

In [6]:
clustering.cluster_centers_

array([[-7.69635093e+01, -7.89703415e+01, -9.41708897e+01, ...,
         2.30108317e+00, -1.05315947e-01,  5.71335646e-01],
       [ 1.59798451e+02,  1.44321341e+02,  1.88668420e+02, ...,
         2.29894106e+00,  6.98232647e-02,  3.83584590e-01],
       [ 4.74630669e+01,  1.15638969e+02,  6.26859368e+01, ...,
         3.20141746e+00, -1.23351659e-01,  2.46524939e-01],
       [ 3.11336625e+01, -6.32490411e+01,  2.69597979e+01, ...,
        -3.25202027e+00, -1.34629587e-01,  3.56407323e-01]])

In [7]:
df = pd.DataFrame(columns = range(clustering.cluster_centers_.shape[0]))

for i in data.values:
  x = []
  for j in clustering.cluster_centers_:
    x.append(np.linalg.norm(i - j))
  df.loc[df.shape[0]] = x
df['id'] = data_load['id']
df['target'] = target

In [10]:
df.to_excel('кластерный анализ.xlsx')

# далее в таблицах удобнее сортировать, листать и рассматривать.

# кластерный анализ не привел ни к каким резуьтатам. из результирующих данных лишь target. по данному столбцу кластеризация не приводит к более менее видимым резуьтатам.